* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
 
   
}
img {
    max-width: 100%;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.main {
    margin-top: -103px;
    background-image:url(/img/backimg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.navigation {
    
    ul {        
        list-style-type: none;
        display: flex;
        justify-content:flex-end;
        margin-top: 35px;
        li {
            text-transform:uppercase;
            padding: 10px;
            margin-right: 5%;
            color: #8f9f6f;
            font-size: 40px;
        }
    }
}
.hidden-img {
    visibility: hidden;
    max-width: 100%;
}
.img-container {
    height: 1000px;
    background-image: url(/img/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
        
}
.button {
    border: none;
    color: #afc67b;
    padding: 15px;
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    text-decoration: none;
    background-color: rgba($color: #5d6942, $alpha: 0.5);
    
    
}
.banner-heading {
    position: absolute;
    top: 40%;
    right: 17%;
    color: #9baf6d;
    h1 {
        text-align: center;
        letter-spacing: 4px;
        font-size: 60px;
        text-transform: uppercase;
    }
    h2 {
        text-align: center;
        letter-spacing: 3px;
        font-size: 80px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 145px;
    }
}
.what-we-cook {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    
    img {
        height: 490px;
        width: 40%;
        display: block;
    }
    .text-content {
        width: 50%;
        padding-left: 100px;
        h4 {
            color: #afc67b;
            font-size: 22px;
            margin-bottom: 40px;
        }
        p {
            width: 80%;
            font-size: 20px;
            color: white;
            text-align: justify;
            
        }
    }
}
.article {
    width: 30%;
    h4 {
        color: white;
        margin: 20px 0;
    }
    p {
        color: #c0c2bd;
        margin: 30px 0;
    }
    img {
        width: 30px;
    }
}
.section-new {
    padding: 100px 0;
    background-color: #4e5342;
    opacity: 0.8;
    .row {
        display: flex;
        justify-content: space-between;
    }
}
.menu {
    padding: 90px 0;
    opacity: 0.8;
}
.menu-heading {
    text-align: center;
    padding: 70px 0;
    h3 {
        font-size: 40px;
        color: #afc67b;
    }
    h2 {
        font-size: 45px;
        color: white;
    }
}
.menu-content {
    background-color: #4e5342;
    opacity: 0.8;
}
.menu-portfolio {
    display: flex;
    flex-wrap: wrap;
}

.menu-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    img {
        width: 100%;
    }
    .menu-article-text {
        padding: 50px 0;
        text-align: center;
        h4 {
            color: #afc67b;
            margin: 20px 0;
        }
        p {
            color: white;
            margin:0 auto;
            margin-bottom: 20px;
            width: 70%;
        }
    }
}   
.reverse {
    
    flex-direction: row-reverse;
} 
.keep-things-simple {
    padding: 115px 0 95px 0;
    text-align: center;
    background-color: #4e5342;
    
    h4 {
        color: #9baf6d;
        font-size: 35px;
    }
    p {
        width: 90%;
        font-size: 20px;
        color: white;
        margin: 36px auto 56px auto;
    }
}      
.new-menu {
    color: #c5c6c4;
    position: relative;
    background-image: url(/img/pan.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}   

.discover-menu-img {
    display: flex;
    background-color:#c5c6c4;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
   
}
.discover-menu-item {
    display: flex;
    align-items: center;
    width: 45%;
    margin-top: 55px;
    h4 {
        margin-bottom: 17px;
    }
    p {
        width: 70%;
    }
}
.menu-item-text {
    margin-left: 10px;
    width:70%;
}
.discover-menu {
    position: absolute;
    top: 240px;
    
    background-color: #4e5342 ;
    .discover-menu-heading {
    padding: 45px 0;
    text-align: center;
    font-size: 45px;
    }
    .discover-menu-items {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 60px;
    }
}
.book-here {
    color: #fff;
    h3 {
        text-align: center;
        margin-bottom: 45px;
        font-size: 40px;
    }
    padding:50px 0;
    .input-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    form {
        margin: 0 auto;
        width: 100%;
        input {
            
            border-radius: 7px;
            border-width:solid;
            width: 240px;
            height: 31px;
            display: block;
            margin-top: 10px 0;
            background-color: transparent;
            color: #fff;
            font-size: 13px;
            padding-left: 5px;
        }
        select {
            font-size: 13px;
            color: #fff;
            display: block;
            width: 240px;
            height: 31px;
            margin: 10px 0;
            background-color: transparent;
            border-radius: 7px;
            border-width: 2px;
        }
        label {
            margin-bottom: 10px;
            font-size: 13px;
            display: block;
        }
        .sub-button {
            margin: 0 auto;
            text-transform: uppercase;
        }
        

    }
}
.food-poster {
    background-image: url(/img/pan2.png);
    background-position: center center;
   background-size: cover;
    background-repeat: no-repeat;
}
.menu2 {
    h3 {
        font-size: 40px;
        text-align: center;
        color: #afc67b;
    }
    
    background-color: rgba($color: #4e5342, $alpha: 0.5);
    padding: 45px 0 125px 0;
    .menu2-heading {
        margin-bottom: 55px;
        text-align: center;
        font-size: 35px;
        color: #fff;
    }
    .menu-card {
        width: 30%;
        img {
            width: 100%;
        }
    }
    .row {
        display: flex;
        justify-content: space-between;
    }
    .menu-card-text-content {
        background: #fff;
        padding: 30px 25px;
    }
    .menu-card-heading {
        margin-bottom: 30px;
    }
    h4 {
        margin-bottom: 12px;
    }
    p {
        margin-bottom: 30px;
    }
    a {
        color: #555555;
        font-weight: bold;
        text-decoration: none;
        
    }
    .read-more-button {
        padding-bottom:2px;
        border-bottom: 4px solid #afc67b ;
    }
}
.social {
    padding: 50px 0;
}